.App {
  text-align: center;
}

.print-invoice-tackteng {
  margin-top: 6px;
  width: 110px;
}


.print-invoice-table1 {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

.print-invoice-table1 th {
  /* border-bottom: 1px solid #cccccc; */
  border-bottom: 1px solid white;
  font-family: Siemreap !important;
  font-size: 12px !important;
  padding: 6px;
}

.print-invoice-table td {
  border-bottom: 1px solid #f0efef;
  font-family: Siemreap !important;
  font-size: 8px !important;
  padding: 4px;
}

.print-invoice-table1 td {
  border-bottom: 1px solid #f0efef;
  font-family: Siemreap !important;
  font-size: 12px !important;
  padding: 6px;
}


@font-face {
  font-family: Century;
  src: url("./Assets/font/Century.ttf");
}


@font-face {
  font-family: GothicBoldRegular;
  src: url("./Assets/font/GothicBoldRegular.ttf");
}

@font-face {
  font-family: KhmerOsMuol;
  src: url("./Assets/font/KhmerOSmuollight.ttf");
}

@font-face {
  font-family: Siemreap;
  src: url("./Assets/font/KhmerOSsiemreap.ttf");
}

@font-face {
  font-family: Bayon;
  src: url("./Assets/font/Bayon.ttf");
}

@font-face {
  font-family: PublicSans;
  src: url("./Assets/font/PublicSansRegular.ttf");
}

/* ============================== Print invoice style ========================= */
.print-invoice-container {
  padding: 30px 30px 20px 30px;
  justify-content: center;
  background-color: #fff;
}

.print-invoice-logo {
  margin-top: 8px;
  width: 62px !important;
}

.print-invoice-title-kh {
  font-family: KhmerOsMuol !important;
  text-align: center;
  font-weight: 100;
  font-size: 8px !important;
}

.print-invoice-title-en {
  font-family: GothicBoldRegular !important;
  text-align: center;
  font-weight: 100;
  font-size: 8px !important;
}

.print-invoice-tackteng {
  margin-top: 6px;
  width: 110px;
}

.print-invoice-header-title-bold {
  font-size: 8px !important;
  font-weight: bold !important;
  font-family: Siemreap !important;
}

.print-invoice-header-title {
  font-family: Siemreap !important;
  font-size: 8px !important;
}

.print-invoice-header-center-title-kh {
  text-align: center;
  font-family: Bayon !important;
  font-size: 10px !important;
  text-decoration: underline !important;
}

.print-invoice-header-center-title {
  text-align: center;
  font-family: Baloopaaji !important;
  font-size: 10px !important;
  font-weight: bold !important;
}

.print-invoice-table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

.print-invoice-table th {
  /* border-bottom: 1px solid #cccccc; */
  font-family: Siemreap !important;
  font-size: 8px !important;
  padding: 4px;
}


.print-invoice-table1 {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

.print-invoice-table1 th {
  /* border-bottom: 1px solid #cccccc; */
  border-bottom: 1px solid white;
  font-family: Siemreap !important;
  font-size: 12px !important;
  padding: 6px;
}

.print-invoice-table td {
  border-bottom: 1px solid #f0efef;
  font-family: Siemreap !important;
  font-size: 8px !important;
  padding: 4px;
}

.print-invoice-table1 td {
  border-bottom: 1px solid #f0efef;
  font-family: Siemreap !important;
  font-size: 12px !important;
  padding: 6px;
}

.print-invoice-box-bottom {
  border: 3px double #000;
  padding: 5px;
}

.print-invoice-footer-kh {
  font-family: Bayon !important;
  font-size: 8px !important;
}

.print-invoice-footer-en {
  font-family: Siemreap !important;
  font-size: 8px !important;
}

/* ============================== End print invoice =========================== */